body {
  background-color: var(--white);
}
.container-static,
.container-relative,
.container-absolute {
  padding: 10px;
  width: 500px;
  height: 500px;
  border: 2px solid;
  border-radius: 30px;
  margin-bottom: 20px;
}

.box {
  margin: 5px;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background-color: var(--brand);
  color: var(--brand-txt);
  font-size: 4em;
  text-align: center;
}

.box-static {
  background-color: #d82525;
  position: static;
}

.box-relative-1 {
  background-color: #a02dd6;
  position: relative;
  /* when we give position relative to an element then we have access to top bottom left and right properties as well , we also have z-index*/
  top: 70px;
  left: 40px;
  z-index: 999;
}

.box-relative-2 {
  background-color: #70cc19;
  position: relative;
  left: 100px;
  z-index: -1;
} 

.container-absolute {
  position: relative;
} 

.box-absolute {
  background-color: #eb690d;
  position: absolute;
  /* right: 0; */
  top: 90px;
  left: 70px;
  /* bottom: 0;  */
  z-index: -1;
}

.position-fixed {
  background-color: #d82252;
  height: 100px;
  line-height: 100px;
  border-radius: 30px;
  width: 500px;
  border: 2px solid;
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
  position: fixed;
  top: 0;
  right: 0;
}

.position-sticky {
  width: 500px;
  height: 100px;
  line-height: 100px;
  font-size: 4em;
  text-align: center;
  border: 2px solid;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: #efd73f;
  position: sticky;
  top: 120px;
}