/* ::after and ::before */
.heading {
  text-align: center;
  font-size: 4em;
  text-transform: capitalize;
  position: relative;
}

.heading::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 50px;
  position: relative;
  background-color: #db1d1d;
  right: 12px;
  border-bottom-left-radius: 10px;
}

.heading::after {
  content: '';
  display: inline-block;
  width: 100px;
  height: 10px;
  background-color: #db1d1d;
  position: relative;
  top: -50px;
  left: -200px;
  border-top-right-radius: 10px;
}








